body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url("../images/college_pic1.jpg") no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background: rgba(200, 220, 220, 0.7);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.5);
    width: 300px;
    text-align: center;
}

form h2 {
    margin-bottom: 20px;
    color: #333;
}

input[type="email"],input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 14px;
}

input[type="submit"] {
     width: 100%;
 background-color: #3498db;
     color: white;
     padding: 12px;
     border: none;
     border-radius: 5px;
     font-size: 15px;
     cursor: pointer;
     transition: 0.3s;
}

input[type="submit"]:hover {
    background-color: #2678b8;
}
